@font-face {
  font-family: flutter;
  src: url(./flutter\ font.woff2);
}
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "flutter";
}

section,
nav {
  max-width: 2000px;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
main nav {
  width: 100%;
  padding: 1rem 1.8rem;
}
main nav .box {
  padding: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main nav .box img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
main nav .box .text {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  display: none;
  width: 50%;
}
main nav .box .text i {
  font-size: 1.2rem;
}
main nav .box .text button {
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: #0468d7;
  color: white;
}
main section.view1 {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background: linear-gradient(to bottom left, #f3fcff 50%, #fbdee8 100%);
}
main section.view1 .top {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.view1 .top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.view1 .top h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 1;
}
main section.view1 .bottom {
  padding: 0.5rem;
}
main section.view1 .bottom p {
  font-size: 2.1rem;
  text-align: center;
}
main section.view2 {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view2 .box {
  border-top: 4px solid silver;
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.view2 .box .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view2 .box .text p {
  font-size: 1.4rem;
  opacity: 0.7;
}
main section.view2 .box img {
  width: 80%;
}
main section.view3 {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.view3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.view3 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main section.view3 .top h2 {
  opacity: 0.7;
}
main section.view3 .top h1 {
  font-size: 3rem;
  line-height: 1;
}
main section.view3 .top .bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view3 .top .bottom button {
  color: #0468d7;
  border: 1px solid #0468d7;
  background-color: transparent;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
main section.view3 .top .bottom button:hover {
  background-color: #0468d7;
  color: white;
}
main section.view3 .top .bottom p {
  margin-left: 2rem;
  font-weight: 600;
}
main section.view3 .top > p {
  font-size: 1.3rem;
  opacity: 0.8;
}
main section#copy1 {
  padding: 4rem 2rem;
  background: linear-gradient(to left bottom, #f5fbff 0%, #f8f8d5 70%);
}
main section#copy1 .top .bottom #btn {
  background-color: #0468d7;
  color: white;
  border-radius: none;
}
main section#copy3 {
  padding: 4rem 2rem;
  background: linear-gradient(to left bottom, #f5fbff 0%, #f8f8d5 70%);
}
main section#copy3 .top .bottom #btn {
  background-color: #0468d7;
  color: white;
  border-radius: none;
}
main section.view4 {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
}
main section.view4 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 7.5rem 3.3rem;
  border-radius: 3rem;
  color: white;
  background-image: url(./get.png);
  background-size: cover;
  background-color: #042449;
}
main section.view4 .top h1 {
  font-size: 3rem;
  line-height: 1;
}
main section.view4 .top .bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view4 .top .bottom button {
  color: #0468d7;
  border: none;
  background-color: white;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
main section.view4 .top .bottom p {
  margin-left: 2.5rem;
  font-weight: 600;
}
main section.view4 .top > p {
  font-size: 1.3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main nav .box img {
    width: 15%;
  }
  main section.view1 .top {
    align-items: center;
  }
  main section.view1 .top h1,
  main section.view1 .top img {
    width: 60%;
  }
  main section.view2 {
    padding: 4rem 4rem;
  }
  main section.view2 .box img {
    width: 60%;
  }
  main section.view3 {
    padding: 3rem 4rem;
  }
  main section.view3 img {
    width: 60%;
  }
  main section.view3 .top .bottom {
    flex-direction: row;
    gap: 0rem;
    align-items: center;
  }
  main section#copy1,
  main section#copy3 {
    padding: 4rem 4rem;
  }
  main section.view4 {
    padding: 3rem 4rem;
  }
  main section.view4 .top {
    padding: 4rem 3.3rem;
  }
}
@media (min-width: 1024px) {
  main nav {
    padding: 1rem 4rem;
  }
  main nav .box img {
    width: 13%;
  }
  main nav .box .text {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
  main nav .box .text p {
    display: inline-block;
  }
  main nav .box .text button {
    display: inline-block;
  }
  main nav .box #hide {
    display: none;
  }
  main section.view1 {
    padding: 4rem 0rem;
  }
  main section.view1 .top {
    padding: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  main section.view1 .top img {
    width: 50%;
  }
  main section.view1 .top h1 {
    width: 33%;
    font-size: 4.2rem;
    text-align: left;
  }
  main section.view1 .bottom {
    width: 75%;
  }
  main section.view2 {
    padding: 4rem 3rem;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
  }
  main section.view2 .box {
    width: 30%;
  }
  main section.view3 {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  main section.view3 img {
    width: 35%;
  }
  main section.view3 .top {
    width: 51%;
    padding: 0rem 2rem;
  }
  main section.view3 .top h1 {
    font-size: 4.2rem;
  }
  main section.view3 .top .bottom {
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }
  main section.view3 .top .bottom button {
    font-weight: 750;
  }
  main section#copy1 {
    flex-direction: row;
  }
  main section#copy3 {
    flex-direction: row;
  }
  main section.view4 {
    justify-content: center;
    align-items: center;
  }
  main section.view4 .top {
    width: 80%;
    padding: 4rem 3.3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  main section.view4 .top h1 {
    font-size: 4.2rem;
  }
  main section.view4 .top .bottom button {
    font-weight: 750;
  }
}
@media (min-width: 1500px) {
  main nav .box img {
    width: 10%;
  }
  main section.view1 .top h1,
  main section.view1 .top img {
    width: 30%;
  }
  main section.view1 .bottom {
    width: 55%;
  }
  main section.view2 .box {
    width: 22%;
  }
  main section.view3 img {
    width: 25%;
  }
  main section.view3 .top {
    width: 28%;
    padding: 0rem;
  }
  main section.view3 .top h1 {
    font-size: 3rem;
  }
  main section.view3 .top .bottom p {
    margin-left: 1rem;
  }
  main section.view3 .top .bottom button {
    padding: 0.5rem 1.5rem;
  }
  main section.view3 .top > p {
    font-size: 1.1rem;
  }
  main section.view4 .top {
    width: 65%;
  }
  main section.view4 .top h1 {
    font-size: 3rem;
  }
  main section.view4 .top .bottom {
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }
  main section.view4 .top .bottom p {
    margin-left: 1rem;
  }
  main section.view4 .top .bottom button {
    padding: 0.5rem 1.5rem;
  }
  main section.view4 .top > p {
    font-size: 1.1rem;
  }
}